---
import Navigation from './Navigation.astro';
---

<header class="sticky top-0 z-50 bg-[#118c30] shadow-md">
  <div class="container-custom flex justify-between items-center py-3">
    <a href="/" class="logo">
      <img 
        src="https://urbanmonkey.es/wp-content/uploads/2023/10/logo_urban_HOME.png" 
        alt="Urban Monkey Logo" 
        class="h-12 md:h-16"
      />
    </a>
    <Navigation />
  </div>
</header>